# Go build artifacts
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Go modules
vendor/

# Databases
*.db
*.sqlite
*.sqlite3

# Local caches
.cache/

# Logs and runtime
*.log
/tmp/

# Editor/OS
.DS_Store
.idea/
.vscode/

# Frontend
node_modules/
dist/
.gocache

# Env/Config
.env
config.yaml
